body {
    background-image: url('/assets/images/ales-nesetril-Im7lZjxeLhg-unsplash-dark.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: whitesmoke;
}

button {
    background-color: transparent;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 0.2em;
    border-radius: 2em;
}

button > h5 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.twitter-content {
    border-style: solid;
    border-color: #101010;
    border-width: 0.2em;
    border-radius: 1em;
    background-color: black;
    width: 20em;
    height: 30em;
    overflow-x: hidden;
    overflow-y: scroll;
}

 #style-1::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 0.2em rgba(0,0,0,0.3);
     border-radius: 1em;
     background-color: gray;
 }
 
 #style-1::-webkit-scrollbar
 {
     width: 0.5em;
     background-color: black;
 }
 
 #style-1::-webkit-scrollbar-thumb
 {
     border-radius: 1em;
     -webkit-box-shadow: inset 0 0 0.2em rgba(0,0,0,.3);
     background-color: #555;
 }

#experience {
    background-color: #101010;
    opacity: 80%;
}

#experience i {
    color: grey;
    font-size: 5em;
}

#experience ul {
    list-style: none;
    padding-left: 0.5em;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

button a {
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
}